<!-- <div class="container">
    <h1>Quotes</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h6 id={{i}} appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
          </div>
  
          <div *ngIf='quote.showDescription'>
            <app-goal-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)' -->
                <form #QuoteForm='ngForm'>
                    <div class="form-group">
              
                        <label for="name">Name</label>
                        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name">
              
              <!-- Testing to see if we get any data -->
                        Display {{new.name}}
                    </div>
                    <div class="form-group">
              
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="4" required></textarea>
              
                    </div>
                    </div>

                  <button type="submit" class="btn btn-success">Add Goal</button>
                </form>